@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


    <p>Your privacy is important to us. It is the Ministry of Health and Population's policy to respect your privacy regarding any information we may collect from you across our website.</p>

    <h2>Information We Collect</h2>
    <p>We may collect personal information such as your name, email address, and phone number when you provide it voluntarily while using our services or contacting us.</p>

    <h2>How We Use Your Information</h2>
    <p>We use the information we collect to:</p>
    <ul>
        <li>Provide and maintain our services.</li>
        <li>Contact you regarding your inquiries.</li>
        <li>Send you updates and newsletters, if you subscribe to them.</li>
    </ul>

    <h2>Security</h2>
    <p>We value your trust in providing us with your personal information, and we are committed to securing it. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

    <h2>Third-Party Links</h2>
    <p>Our website may contain links to external sites not operated by us. Please be aware that we have no control over the content and practices of these sites and cannot accept responsibility or liability for their respective privacy policies.</p>

    <h2>Changes to This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new policy on this page. You are advised to review this Privacy Policy periodically for any changes.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="mailto:info@healthandpopulation.gov">info@healthandpopulation.gov</a>.</p>

    <p>This Privacy Policy was last updated on August 30, 2023.</p>

